h1, h2, h3, h4 {
  font-family: $headings-font-family;
}

body {
  font-size: 14px;
}

.traveler-map {
  .worldmap {
    margin-bottom: 2em;
    background-color: #2980b9;
    padding-top: 40px;
    .worldmap-wrapper {
      width: 100%;
      display: block;
      height: auto;
      position: relative;
      padding-top: 65%;
      svg {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        rect {
          fill: #2980b9;
        }
        path {
          fill: #bdc3c7;
        }
      }
      object {
        display: block;
      }
    }
  }
  .stats-wrapper {
    margin-bottom: 30px;
    margin-top: 1em;
    text-align: center;
    .stat-wrapper {
      padding: 25px;
      background-color: #d9edf7;

      .stat-title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
      }
      .CircularProgressbar {
        max-width: 150px;
        .CircularProgressbar-path {
          stroke: $primary;
        }
        .CircularProgressbar-trail {
          stroke: $white;
        }
        .CircularProgressbar-text {
          fill: $primary;
          font-weight: 600;
          font-size: 24px;
        }
      }
      .stat-text {
        margin-top: 10px;
      }
      .substat-text {
        font-style: italic;
        margin: 1em 0;
        color: $gray-600;
      }
    }
  }
  .filterable-places {
    .region-list {
      .nav {
        a {
          background-color: $gray-100;
          font-weight: 500;
          .badge {
            margin-top: 1px;
            color: $white;
            font-size: 12px;
          }
          &.active {
            background-color: $primary;
            .badge {
              background-color: $white;
              color: $primary;
            }
          }
        }
      }
    }
    .place-list {
      .place {
        padding-right: 20px;
        width: 50%;
        float: left;
        margin-top: 2px;
        margin-bottom: 2px;
        input {
          margin-right: 5px;
        }
      }
    }
  }
  .user-login-wrapper {
    margin-top: 30px;
    padding: 30px 0;
    background-color: $gray-100;
  }
}
